body { 
    margin: 0;   
}


.navbar{
    height: 7vh;
}


.landing{
    height: 93vh;
    width: 100%;
    background-color: beige;
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo{
    display: inline-block;
}
.logo img{
    width: 50vw;
    height: fit-content;
    margin: 0;
}

.equipo-div{
    background-color: bisque;
    height: 200px;
    width: 160px;
    display: flex;
    flex-direction: column; 
}

.equipo-img{
    justify-content: center;
    margin: auto;  
}

.equipo-img img{
    height: 100;   
}

.equipo-text{
    background-color: aliceblue;
    border-color: aliceblue;
    text-align: center;
    padding-top: 5px;
}

.equipo-wrapper{
    height: 200px;
    display: flex;
    flex-direction: row;
    margin: 3vh 5vw 3vh;
    border-bottom-right-radius: 12%;
}

.equipo-wrapper:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

h4{
    font-family:"proxima-nova",sans-serif;
    font-weight: bold;
}


.equipo-info{
    background-color: #f7f5f0;
    width: 200px;
    border-bottom-right-radius: 15%;
    font-size: 0.825em;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.eq-texto{
    text-align:start;
}

.eq-boton{
    text-align: center;
}

.main{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.footer{
    background-color: beige;
    width: 100%;
    height: 12vh;
}                   

.containerboton{
    padding: 6vh;
}

