body{
    margin: 0;  
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: beige;
}

#formulario{
    width: 100%;
    max-width: 500px; 
    background-color: white;
    padding: 30px;
    border-right-width: 2px;
    border-right-style: dashed;
    border-right-color: rgb(0, 0, 0);

}
#boton{
    margin-block: 10px;
}
#imagenesequipos{
    max-width: 100%;
}
#containerform{
    padding: 0px;
    margin-left: 10px;
}
#parteblanca{
    background-color: white;
}
