body{
    margin: 0;  
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: beige;
}

.main form {
    width: 100%;
    max-width: 500px; 
    background-color: white;
}

#formulario{
    padding: 30px;

}
#boton{
    margin-block: 10px;
}
#imagenesequipos{
    max-width: 400px;
}
.col{
    padding: 0px;
    margin-left: 10px;
}
.row{
    background-color: white;
}
.col img{
margin-block: 40px;
height: auto;
width: auto;
}
.col form{
    border-right-width: 2px;
    border-right-style: dashed;
    border-right-color: rgb(0, 0, 0);
}