<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="\styles\styles.css">
    <script src="app.js"></script>
    <title>La Liga</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark  ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img
                    src="https://www.fifplay.com/img/public/laliga-logo-plain.png" id="navlogoliga"></a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            </div>
        </div>
    </nav>

    <div class="landing">
        <div class="logo">
            <img src="imagenes/logoliga.png" alt="La Liga logo">
        </div>
    </div>



    <div class="main">
        <div class="lista" id="listaEquipos">

            {{#posts}}
                <div class="equipo-wrapper">
                    <div class="equipo-div">
                        <div class="equipo-img">
                            <img src={{link}} alt="logo {{equipo}}">
                        </div>
                        <div class="equipo-text">
                            <h4>{{equipo}}</h4>
                        </div>


                    </div>

                    <div class="equipo-info">
                        <div class="eq-texto">
                            <p><b>Estadio: </b>{{estadio}}</p>
                            <p><b>Fecha de Fundación: </b>{{dia}} de {{mes}} de {{anyo}}</p>
                            <p><b>Número de Títulos de Liga: </b>{{titulos}}</p>
                        </div>
                        <div class="eq-boton">
                            <a href="post/{{id}}" class="btn btn-secondary btn-sm" id="boton">Mas info</a>
                        </div>
                    </div>

                </div>
            {{/posts}}
            
            {{^posts}}
            <p>No posts yet.</p>
            {{/posts}}

        </div>

        <div id="cargarButton">
            <button id="cargar" onclick='loadElements()'>Cargar mas equipos</button>
        </div>


    </div>

    <div class="containerboton">
        <a href="pagina-nuevo-elemento" class="btn btn-secondary" id="boton">Crear nuevo equipo</a>
    </div>

    <div class="footer">

    </div>

    </div>




</body>

</html>