body{
    margin: 0 auto;  
    background-color: beige;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    align-items: center;
}


#formulario{
    width: 100%;
    max-width: 500px; 
    background-color: white;
    padding: 30px;
    border-right-color: rgb(0, 0, 0);
}



#boton{
    margin-block: 10px;
}

.imp{
    margin-left: 12px;
}

#errors{
    padding-top: 20px;
    color: red;
}