#imagenequipo {
    width: 55%;
    height: auto;
}
 #error{
    padding-top: 20px;
    color: red;
 }
 #botones{
    display: flex;
    gap: 10px;
    margin-block: 5px;
 }
.imagenjugadores {
    width: 90px;
    height: 50px;

}

#escudo {
    text-align: center;
    align-items: center;
    margin: auto;
    margin-block: 50px;
}

#descripcion {
    display: inline-block;
    margin-top: 10px;
    margin-block: 50px;
}


#fondodepantalla {
    background-color: white;
    border-width: 30px;
    border-style: solid;
    border-color: beige;
}

#formulario {
    background-color: rgb(255, 255, 255);
    margin-block: 20px;
    padding: 15px;
}

#formulariojugadores {
    background-color: rgb(255, 255, 255);

}

#comentario {
    color: rgb(144, 141, 141);

}

#navlogoliga {
    height: 6.122vh;
}



.footer{
    background-color: beige;
    width: 100%;
    height: 12vh;
}        